*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    font-family:"Roboto", sans-serif;

}
/* Nav */
nav{
    position:sticky;
    top: 0px;
    z-index: 2;
}
.nav-background{
    position: sticky;
  
    height: 60px;
    width: 100%;
    background-color: #333;
}
.nav{position: relative;
    display: inline-block;
    margin-top: 30px ;
    padding: 20px 40px;
    
    text-transform: capitalize;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    
}
.nav a{
    color: white;
    text-decoration:none;
    
}
.item{
    position: absolute;
    transform: translate(-50%,-50%);
}
.main{
     left: 33%;
}
.services{
    left: 43%;
}
.cost{
    left: 53%;
}
.contact{
     left: 63%;
}
.nav a:hover{
    color: gold;
}
/* Header */

.header-background{
    position: relative;
    height:150px;
    width: 100%;
    
    background-color: rgb(0, 0, 0);;
    background-size: contain;
    transition: 1s;

}

.header-background:hover{
    background-color: white;
 
}
.header-background:hover > .header-text {
    color: gold;
}

.header-text{    
    position:absolute;
    transform: translate(-50%,);
    display:inline-block;
    padding: 20px;
    color: white;
    letter-spacing: 25px;
    font-size: 100px;
    font-family: 'Lato';
    font-weight: 900;
    text-align: center;
    transition: 1s 0.5s;
}   
.soccer{
    left: 15.5%;
}
.x{
left: 45.5%;
}
.pool{
    left: 55%;
}

/* Main */
main{position: relative;
    height: 800px;
    width: 100%;
}
.main-background{
    
    height: 150%;
    width: 100%;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}
.main-image{
    position: absolute;
    transform: translate(-50%,-50%);
    height: 150px;
    width: 450px;
    background: #000;
    border-radius: 25px;
    cursor: pointer;
    transition: 1s;
}



.main-image-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    letter-spacing: 2px;
    font-size: 19px;
    font-weight: 900;
    transition: 1s;
}
.main-image:hover{
    background-color: white;
    
}
.main-image:hover > .main-image-text{
    color: gold;
}

.a{
    top: 200px;
    left: 25%;
}
.b{
    top: 200px;
    left: 50%;
}
.c{
    top: 200px;
    left: 75%;
}
.d{
    top: 500px;
    left: 25%;
}
.e{
    top: 500px;
    left: 50%;
}
.f{
    top: 500px;
    left: 75%;
}
.main-text{
    position:absolute;
    top: 85%;
    height: 300px;
    width: 80%;
    margin-left: 100px;
    padding: 20px 30px;
    color: black;
background-color: rgba(253, 253, 253, 0.685);
}

/* Footer */

/* Contact */

.contact-header{
    color: white;
    text-align: center;
    padding-top: 300px;
}

/* Price-list */

.price-list-item{
    position: absolute;
    transform: translate(-50%,-50%);
    height: 200px;
    width: 600px;
    background-color: rgb(5, 5, 5);
    border-radius: 25px;
}



/* Wspólne */
.paragraphs{
    text-align: center;
    color: white;
    margin-top: 20px;
}